*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1D1D1D;
}

html{
    font-size: 62.5%;
}

/* Tipografias y estilos */

h1,h2{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
    color: #EAEAEA;
}
h1 strong{
    
    color: #EE008F;
}
h1{
    font-size: 3rem;
    
}
h2{    
    font-size: 7rem;
    text-align: center;
}
h3,p,ul li{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #EAEAEA;
}
h3, p{
    font-size: 2rem;
}
ul li{
    font-size: 1.5rem;
}

.colorprimario{
    color: #EAEAEA;
}
.colorsecundario{
    color: #EE008F;
}
.colorToggler{
    background-color: #eaeaea8e!important;
  
   
}

.tipografiaEspecial{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 4rem;   
}

.tipografiaSecundaria{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 2rem;
   
}

.tipografiaformulario{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-left: 10px;
    font-size: 1.5rem;
    
}
ul{
    list-style-type: none;
}
.alineacionTextoContacto{
    text-align: center;
}

li a{
    color: #EAEAEA;
    text-decoration: none;
}
h1 a{
    text-decoration: none;
    color: #EAEAEA;
}
ion-icon{
    color: #EAEAEA;
    text-align: center;
    font-size: 2.4rem;
    margin: 3rem 2rem 3rem 2rem;
}


/* Tamaños de cajas + Flex */

.nombre{
    border-radius: 1rem;
    background-color: #1d1d1d8a;
    border-color: #111111;
    width: 46.8rem;
    height: 4.8rem;    
}

.mensaje{
    border-radius: 1rem;
    background-color: #1d1d1d8a;
    border-color: #111111;
    width: 107.5rem;
    height: 12.4rem;    
}

.buttonForm{
    color: #EAEAEA;
    background-color: #EE008F;    
    border-radius: 1rem;
    width: 109rem;
    height: 4.8rem;

}

.button{
    padding: 1rem 8rem 1rem 8rem;
    color: #EAEAEA;
    background-color: #EE008F;    
    border-radius: 1rem;
    width: 20vw;
    
}

.buttonCard{
    width: 10rem;
    height: 5rem;
    padding: 1rem;
    background-color: #1d1d1d00;
    color: #EAEAEA;
    border-color: #EAEAEA;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.buttonCardTwo{
    width: 30rem;
    height: 5rem;
    padding: 1rem;
    background-color: #EE008F;
    color: #EAEAEA;
    border-color: #EE008F;   
    border-radius: 1rem;
    margin-bottom: 4rem;

}

.positionabsolut{
    position: absolute;
    top: 0px;
}

header{
    position: relative;
}
.navBootstrap{
    width: 99vw;
    height: 8.8rem;
    background-color: rgba(0, 0, 0, 0.204);

}
.marginEspecial{
    
    margin-left: 18rem!important;
}
.marginLi{
    margin-left: 6rem;
}

h1{
    margin-left: 15.6rem;
    position: relative;
    z-index: 2;   
}
h2{
    position: relative;
    z-index: 2;
}
li{
    margin: 0.5rem;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 14.6rem;
    position: relative;
    z-index: 2;
}
.flexNav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.tamañoDiv{
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.margenes146{
    margin-left: 13.6rem;
    margin-right: 13.6rem;
}
.flexCard{
    display: flex;
    flex-direction: row;
}

.divNuestroShow{
    width: 48.1rem;
    height: 70rem;
    border-radius: 1.5rem;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
}
.imgCardUno{
    background-image: url("../assets/card_01.jpg");
    background-position: center bottom;
}
.imgCardDos{
    background-image: url("../assets/card_02.jpg");
    background-position: center bottom;
}
.imgCardTres{
    background-image: url("../assets/card_03.jpg");
    background-position: center bottom;
}

.tamañoSeccionNS{
    width: 98vw;
    height: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.tamañoParrafo{
    width: 38.6rem;
    height: 43.6rem;
}

.sectionNuestroShow{
    width: 48.1rem;
    height: 70rem;
    margin: 15.6rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;     
}

.seccionEspecial{
    width: 98vw;
    height: 30vw;   
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.cajaTexto{
    width: 81.5rem;
    height: 72.8rem;
    padding: 9.2rem 13.4rem 9.2rem 7.7rem;
}

.bordeCard{
    border-radius: 2rem;
    border: 1.5px solid #EAEAEA;
}

.flexCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cajaCard{
    width: 94.4rem;
    height: 38rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.flexCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divBaterista{
    width: 80rem;
    height: 72.8rem;
    padding: 9.6rem 7.1rem 9.6rem 15.6rem;
}
.divImagenBaterista{
    width: 63.6rem;
    height: 72.8rem;
    padding-right: 15.1rem;
}
.tamañoCard{
    width: 112.8rem;
    height: 96.8rem;
}
.bordeImagenes{
    border-radius: 1.2rem;
}
.bordeImagenesCards{
    border-radius: 2.2rem;
}
.imagenSecciones{
    width: 98.8vw;
    
}
.tamañoseccion{
    width: 98,9vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seccionGaleria{
       
    margin-left: 13.6rem;
    margin-top: 7rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgGaleria{
    width: 90rem;
    height: 60rem;
}

.cajaTitulos{
    margin-right: 5rem;
}
/* Grids */

.gridBio{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    grid-template-areas: 
    ". . . ."
    ". imgVozPrincipal textVozPrincipal ."
    ". . . ."
    ". textBaterista imgBaterista ."
    ". . . ."
    ". imgBajista textBajista ."

    ;
}

.imgBaterista{
    grid-area: imgBaterista;
}
.textBaterista{
    grid-area: textBaterista;
}
.imgBajista{
    grid-area: imgBajista;
}
.textBajista{
    grid-area: textBajista;
}
.textVozPrincipal{
    grid-area: textVozPrincipal;    
}
.imgVozPrincipal{ 
    grid-area: imgVozPrincipal;    
}
.textoGrid{
    align-self: center;
}
.imgGrid{
    justify-self: end;
}

.gridEventos{
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-rows: 122px 968px 122px 968px 122px 968px 122px;
    grid-template-areas: 
    ". . ."
    ". cardUno ."
    ". . ."
    ". cardDos ."
    ". . ."
    ". cardTres ."
    ". . ."   
    ;  

}
.cardUno{
    grid-area: cardUno;
}
.cardDos{
    grid-area: cardDos;
}
.cardTres{
    grid-area: cardTres;
}
.textoFinal{
    grid-area: textoFinal;
}
.gridInfo{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 4fr 3fr;
    grid-template-areas: 
    ". . ."
    ". titulo ."
    ". . ."
    ". textito ."
    ". . ."

    ;
}
.titulo{
    grid-area: titulo;
}
.textito{
    grid-area: textito;
}
.gridFormulario{
    display: grid;
    grid-template-columns: 2fr 5fr 5fr 2fr;
    grid-template-rows: 2fr 7fr 3fr 7fr;
    grid-template-areas: 
    ". gridNombre gridEmail ."
    ". gridMensaje gridMensaje ."
    ". gridButton gridButton ."
    ". . . ."
    ;
}
.gridNombre{
    grid-area: gridNombre;
}
.gridEmail{
    grid-area: gridEmail;
    
    justify-self: end;
}
.gridMensaje{
    grid-area: gridMensaje;
    align-self: end;
}
.gridButton{
    grid-area: gridButton;
    align-self: end;
}

/* media queris index */

@media (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 3rem;
    }
    h3, p{
        font-size: 1rem;
    }
    ul li{
        font-size: 1rem;
    }
    .tipografiaEspecial{
        font-size: 2rem;
    }
    .margenes146{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .marginEspecial{
        margin-left: 2rem!important;
    }
    .tamañoDiv{
        height: 18vh;
        margin-bottom: 15rem;
        margin-top: 20rem;
        width: 95vw;
    }
   
    .imagenSecciones{
        width: 100vw;
        
    }
    .tamañoSeccionNS{
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 95vw;
        height: 70rem;
        
    }
    .imgQueris{
        width: 30rem;
        height: 40rem;
        margin-bottom: 3rem;
    }
    .sectionNuestroShow{
        width: 95vw;
        height: 2rem;
        margin: 3rem;
        justify-content: flex-end;
    }
    .seccionEspecial{
        width: 95vw;
        height: 5rem;
        margin-top: 1rem;
        margin-bottom: 3rem; 
        margin-left: 2rem; 
        margin-right: 2rem;      
        justify-content: flex-end;
    }
    .tamañoParrafo{
        width: 80vw;
        height: 4rem;
    }
    .flexNav{
        flex-direction: column;
        align-items: center;
    }
    .tamañoLinea{
        width: 80vw;
    }
    .button{
        padding: 1rem 2rem 1rem 2rem;          
        border-radius: 1rem;
        width: 20vw;
        height: 4rem;
        
    }
    .tipografiaSecundaria{
        font-size: 1rem;
    }
    ion-icon{
     
        font-size: 2rem;
        margin: 2rem 1rem 2rem 1rem;
    }
   
}

/* media queris bio */

@media (max-width: 768px) {
    .navBootstrap{
        width: 100vw;
        height: 4rem;       
    
    }
    .imagenSecciones{
        width: 100vw;
    }
    .gridBio{
        
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 0fr 0.5fr 1fr 0fr 0.5fr 1fr 0fr 0.5fr 1fr 0.2fr;
        grid-template-areas: 
        ". . ."
        ". textVozPrincipal ."
        ". imgVozPrincipal ."
        ". . ."
        ". textBaterista ."
        ".  imgBaterista ."
        ". . ."
        ". textBajista ."
        ". imgBajista ."
        ". . ."    
        ;    
    }
    .tamañoseccion{
        width: 100vw;
        height: 30vh;
    }

}

